.PlayPause{
  width: 50px;
  height: 50px;
}

.PlayPause button{
  height: inherit;
  border: none;
  background: transparent;
  outline: 0;
  width: inherit;
  box-sizing: none;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}